# Librerías para pruebas
pytest>=8.3.3

# Linter y estilo de código
flake8==7.0.0

# Manejo de archivos YAML
PyYAML==6.0.2

# Opcional: herramientas de calidad si las usas en CI
coverage==7.4.1

# manejo de -cov
pytest-cov==4.1.0

